*{
    box-sizing: border-box;
    padding:10px;
    margin:0px;
}
.header{
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(180deg, red, yellow);
}

#navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky{
    position: sticky;
}
.black{
    background-color: black;
}


.about {
    margin-bottom: 20px; 
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    background-image:linear-gradient(180deg, red, yellow);
    color: black; 

}

.skills{
    margin-bottom: 20px; 
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    background-image:linear-gradient(180deg, red, yellow);
    color: black;  
}

.certificate{
    margin-bottom: 20px; 
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    background-image:linear-gradient(180deg, red, yellow);
    color: black;  
}

.contact{
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 1000px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    height: 200px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-image: linear-gradient(180deg, red, yellow);
    color: black;  
}
.image{
    text-align: center;
}

.content{
    font-size: 10px;
    display: inline-block;
}

h2{
    text-align: center;
}

.fa-brands{
    background-color: white;
}
